<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="MetaDataBehavior">
                    <serviceMetadata httpGetUrl="http://localhost:8090/KFCService" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="MetaDataBehavior" name="ServiceLibrary.Service">
                <endpoint address="" binding="wsHttpBinding" bindingConfiguration=""
                    name="ep1" contract="ServiceLibrary.IService" />
                <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
                    name="ep2" contract="IMetaDataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8090/KFCService" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>